body {
    background: #fff;
    font: 14px/24px Georgia, 'Times New Roman', Times, serif;
}
.content{
    box-sizing: border-box;
    max-width: 1170px;
    width: 100%;
    margin: 200px auto;
    padding: 15px;
}
.main-div{
    margin:  0 auto;
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}
.main-div-ul{
    display: block;
}
.main-li{
    display: inline-block;
    position: relative;
    margin: 15px 15px;
}
.main-li-div{
    width: 312px;
    height: 245px;
    border: 1px solid rgba(150,150,150,0.3137254901960784);
    position: relative;
}
.main-li-div:hover{
    box-shadow: 20px 20px 20px -5px rgba(0,0,0,0.5);
}
.main-li-div-a{
    color:#000000;
    width: 312px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block
}
.main-li-div-img{
    width:312px;
    height:220px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity:0.9;
}
.main-li-div-img:hover{
    cursor:pointer;
}


.toup-div {
    position: fixed;
    bottom: 20px;
    right: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.29);
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.toup-div a, .toup-div a:hover {
    color: #fff;
    text-decoration: none;
}
.go-top{
    line-height: 60px;
    text-align: center;
    position: fixed;
    right: 4%;
    bottom: 60px;
    height:60px ;
    width:60px ;
    background-color: #242C43;
    color: #ffffff;
    cursor: pointer;
}
.welcome{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 220px;
    overflow: hidden;
    text-align: center;
    background-color: #EFF1F2;
    clip: rect(0px 1903px 424px -394px);
}
.welcome-slogan{
    top: 90px;
    width: 100%;
    position: absolute;
    word-wrap: break-word;
}
.font-slogan{
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 46px/1.4em helveticaneuew01-thin,sans-serif;
    color: #20303C;
}
.welcome-website{
    padding-top: 20px;
    float: left;
    padding-left: 5%;
    color: #3CC7C5;
    font: normal normal normal 36px helveticaneuew01-thin,sans-serif;
}
